.end-game {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  font-size: 4rem;
  gap: 2rem;
  text-align: center;
}
.end-game .congratulations {
  margin-left: 3rem;
  margin-right: 3rem;
}
.end-game .button {
  font-size: 2rem;
  background-color: yellow;
  border: none;
  border-radius: 1rem;
  padding: 2rem;
  cursor: pointer;
  font-weight: 600;
}
.visibility {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .end-game {
    font-size: 3rem;
    gap: 2rem;
  }
  .end-game .button {
    font-size: 1.5rem;
    padding: 1.3rem;
  }
}
