body {
  background-image: url(../images/social-media.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0px 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: clamp(1.5rem, 1.5rem + 1vw, 3rem);
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.card {
  aspect-ratio: 1/1;
  border-radius: 3rem;
  position: relative;
  transform-style: preserve-3d;
  transition: all 400ms ease-in;
}
.card .face {
  width: 100%;
  height: 100%;
  border-radius: clamp(1.5rem, 1.5rem + 1vw, 3rem);
  background-color: rgb(230, 230, 230);
  position: absolute;
  border: 3px solid bisque;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  backface-visibility: hidden;
  transition: all 500ms ease;
}
.card .face.front {
  background-color: rgb(229, 245, 220);
  transform: rotateY(180deg);
}
.card .face.back {
  background-image: url(../images/ltgt.png);
}

.revealCard {
  transform: rotateY(180deg);
}
.disabledCard {
  filter: saturate(0.5);
  opacity: 50%;
}
