.card-game {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-first);
  font-size: 3rem;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 40%);
  border-radius: 25px;
}
